.main-content {
    display: flex;
    justify-content: space-around;
}

.grid-container {
    display: flex;
    flex-direction: column;
    color: red;
}

.grid-line {
    display: flex;
}

.grid-item {
    height: 30px;
    width: 30px;
    border: 2px solid green;
}

.rainbow {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: black;
}

.black {
    background-color: black;
    color: white;
}

.buttons-manager {
    display: flex;
    flex-direction: column;
}

.reset {
    background-color: white;
}